# Ignore build output
build/
*.o
*.out
*.exe

# Glade temp files
*~

# OS junk
.DS_Store
Thumbs.db

# Ignore rsalite output
rsalite
rsalite-gui
rsalite-gui-modern


# Ignore test factor output
test_factor 

*.csv
